.App {
  height: 100%;
  width: 100%;
  text-align: center;
}
.center{
  display:flex;
  justify-content:center;
}
.loading{
  position: absolute;
  height:100%;
  width: 100%;
  z-index: 100;
  background-color: black;
  opacity: 0.8;
}
.loading-bk{
  position: relative;
  height: 100px;
  width: 100px;
  top: 300px;
  left: 60px;
  margin: auto;
}
.loading-bk strong{
  position: relative;
  left: -60px;
  top:-30px;
  color: aliceblue;
  font-size: 30px;
}